.customerBoard {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* border: 2px solid rgb(220, 220, 220); */
  table-layout: fixed;
  box-shadow: 10px 10px;
  border-radius: 5px;
}
.tablecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.trBoard {
  margin: 100px 0;
  /* border: 1px solid rgb(164, 164, 164); */
}

.thBoard,
.tdBoard {
  padding: 10px;
  border: 1px solid rgb(164, 164, 164);
}
.thBoard h5 {
  display: inline;
  padding-right: 20px;
}

.tdacciones,
.thacciones {
  width: 250px;
}
.thacciones {
  padding-left: 20px;
}

.tdacciones {
  display: flex;
  justify-content: space-between;
}

.actions {
  border: none;
  background-color: transparent;
  height: 25px;
  width: 25px;
}

.actions img {
  height: 30px;
  margin-right: 5px;
}
