.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px;
}

.navbar .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links .link {
  padding: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}

.navbar .links .link:hover {
  background-color: rgb(39, 171, 138);
  border-radius: 40px;
  transition: 300ms;
  color: white;
}

.navbar .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navbar .logout p {
  padding: 20px;
  margin: 0;
  color: rgb(0, 100, 130);
  font-weight: 500;
  font-size: 1.3rem;
}

.logout p span {
  color: gray;
  font-size: 1.1rem;
}
