.customerBoard {
  background-color: rgb(255, 255, 255);
  width: 100%;
  table-layout: fixed;
  box-shadow: 10px 10px;
  border-radius: 5px;
}
.tablecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.trBoard {
  margin: 100px 0;
  /* border: 1px solid rgb(164, 164, 164); */
}

.thBoard,
.tdBoard {
  padding: 10px;
  border: 1px solid rgb(164, 164, 164);
}
.payment {
  color: red;
  font-weight: bolder;
  font-style: italic;
  padding: 10px;
  border: 1px solid rgb(164, 164, 164);
}

.thBoard h5 {
  display: inline;
  padding-right: 10px;
}

.tdacciones,
.thacciones {
  width: 220px;
}
.thacciones {
  padding-left: 20px;
}

.tdacciones {
  display: flex;
  justify-content: space-between;
}

.actions {
  font-size: 36px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.actions:hover {
  color: white;
  background-color: rgb(39, 171, 138);
  transition: 300ms;
  border-radius: 50%;
  cursor: pointer;
}

.actions img {
  height: 30px;
  margin-right: 5px;
}

.thBoard svg {
  margin-right: 4px;
  font-size: 18px;
}
.thacciones svg {
  margin-right: 10px;
  font-size: 22px;
}
.thBoard svg:hover {
  color: rgb(39, 171, 138);
  transition: 300ms;
  cursor: pointer;
}

.thBoard h5 {
  font-size: 16px;
}

.date,
.type {
  width: 140px;
}

.currency,
.price {
  width: 158px;
}
.customer {
  width: 250px;
}

.tdboard p {
  display: inline;
}
