.customerBoard {
  background-color: rgb(255, 255, 255);
  width: 100%;
  table-layout: fixed;
  box-shadow: 10px 10px;
  border-radius: 5px;
}
.tablecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.printcontainer {
  padding: 15px;
}
.trBoard {
  margin: 100px 0;
  /* border: 1px solid rgb(164, 164, 164); */
}

.thBoard,
.tdBoard {
  padding: 10px;
  border: 1px solid rgb(104, 104, 104);
}
.print-th,
.print-td {
  border: 1px solid rgb(0, 0, 0);
  font-weight: 500;
}
.thdescription {
  width: 530px;
}
.tdBoard {
  color: #000;
  font-weight: 500;
  font-family: Arial;
}
.receipt,
.creditMemo,
.payment {
  color: rgb(233, 3, 3);
  font-weight: bolder;
  font-style: italic;
  padding: 10px;
}

.thBoard h5 {
  display: inline;
  padding-right: 10px;
}

.tdacciones,
.thacciones {
  width: 220px;
  border-left: 0px;
  border-bottom: 0px;
}
.thacciones {
  padding-left: 20px;
}

.tdacciones {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.actions {
  font-size: 36px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.actions:hover {
  color: white;
  background-color: rgb(39, 171, 138);
  transition: 300ms;
  border-radius: 50%;
  cursor: pointer;
}

.actions img {
  height: 30px;
  margin-right: 5px;
}

.thBoard svg {
  margin-right: 4px;
  font-size: 18px;
}
.thacciones svg {
  margin-right: 10px;
  font-size: 22px;
}
.thBoard svg:hover {
  color: rgb(39, 171, 138);
  transition: 300ms;
  cursor: pointer;
}

.thBoard h5 {
  font-size: 16px;
}

.date,
.type {
  width: 140px;
}

.currency,
.price {
  width: 158px;
}
.customer {
  width: 250px;
}

.tdboard p {
  display: inline;
}

.odd-white {
  background-color: rgb(255, 255, 255);
}
.even-white {
  background-color: rgb(231, 231, 231);
}

.odd-blue {
  background-color: rgb(185, 201, 255);
}
.even-blue {
  background-color: rgb(158, 173, 223);
}
.odd-green {
  background-color: rgb(204, 255, 204);
}
.even-green {
  background-color: rgb(153, 204, 153);
}

.odd-yellow {
  background-color: rgb(255, 230, 153);
}
.even-yellow {
  background-color: rgb(255, 204, 153);
}
.odd-purple {
  background-color: rgb(236, 204, 255);
}
.even-purple {
  background-color: rgb(218, 173, 255);
}
.comment {
  padding-left: 20px;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}

.modalHeaderData {
  padding-left: 20px;
  font-weight: bolder;
}
